{# parse bgp process data #}
{% if custom_fields.enable_bgp and bgp_sessions is defined and local_asn is defined %}
global_config:
  as_number: {{ local_asn }}
  address_family:
    - afi: ipv4
      bgp:
      neighbors:
{%      for session in bgp_sessions %}
        - neighbor_address: {{ (session.remote_address.address | ansible.utils.ipaddr('address')) }}
          description: '{{ session.remote_address.description }}'
          remote_as: {{ session.remote_as.asn }}
          soft_reconfiguration: true
          log_neighbor_changes:
            set: true
{%      endfor %}
      redistribute:
        - connected:
            set: true
{%      if custom_fields.enable_ospfv2 is defined and custom_fields.enable_ospfv2 and custom_fields.ospfv2_process_id is not none %}
        - ospf:
            process_id: {{ custom_fields.ospfv2_process_id }}
{%      endif %}
      networks:
{%    if prefix_data is defined %}
{%      for prefix in prefix_data %}
{%        if prefix.value.children == 0 %}
        - address: {{ prefix.value.prefix | ansible.utils.ipaddr('network') }}
          mask: {{ prefix.value.prefix | ansible.utils.ipaddr('netmask') }}
{%        endif %}
{%      endfor %}
{%    endif %}
{% endif %}
